################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Woshu/Web/bin/Debug/netcoreapp3.1
/Woshu/Web/obj
/Woshu/Woshu/bin/Debug/netstandard2.1
/Woshu/Woshu/obj
/Woshu/.vs/Woshu
/Woshu/Web/woshudb.db
