@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="d-flex flex-wrap align-items-center justify-content-center h-100 w-100 mt-5">
    <div class="text-center m-auto text-primary">
        <h1 class="display-4">Welcome</h1>
        <p>to</p>

        <img height="300" src="~/img/WG_Ver_Logo_FullColor_BG.png" />
    </div>
    <img src="https://media.giphy.com/media/Cmr1OMJ2FN0B2/source.gif" alt="Hello" />
</div>